<!-- Указание модели для представления -->
@model IEnumerable<test.Models.Project>

<!-- Установка заголовка страницы -->
@{
    ViewData["Title"] = "Index";
}

<!-- Заголовок страницы -->
<h1>Index</h1>

<!-- Ссылка для создания нового проекта -->
<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Таблица для отображения списка проектов -->
<table class="table">
    <thead>
        <tr>
            <!-- Заголовки столбцов таблицы -->
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>

            <!-- Пустой столбец для действий -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Цикл для отображения данных каждого проекта в таблице -->
        @foreach (var item in Model)
        {
            <tr>
                <!-- Отображение данных о каждом проекте -->
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfomer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.Name)
                </td>
                <td>
                    <!-- Ссылки для редактирования, просмотра деталей и удаления проекта -->
                    <a asp-controller="EmpProjs" asp-action="ShowEmployers" asp-route-id="@item.Id">Edit employers</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
